:root {
	--palette-red-darker: #3f1818;
	--palette-gray: #838383;
	--palette-gray-light: #bdbdbd;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

tr {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

th {
	font-size: 9pt;
}

td {
	border: 1px solid black;
	height: 30px;
	text-align: end;
}

@media (min-width: 500px) {
	th {
		font-size: 12pt;
	}

	td {
		border: 1px solid black;
		height: 50px;
	}
}
